 .form {
       display: flex;
       justify-content: center;
        padding: 100px;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
        background-color: skyblue;
    }

    .submit{
      margin:40%;
      background-color: #1b0103; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;


        
    }
    .gender{
        padding: 15px 32px;
    }
